/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Кастомный скроллбар для Webkit-браузеров (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #18181b; /* zinc-900 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #39FF14; /* neon-green */
  border-radius: 10px;
  border: 2px solid #18181b;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #BC13FE; /* neon-purple */
}
